html
head
    title Reset Password

body
    h1 Reset Password

form(action = "/reset-password", method = "post")
input(type = "hidden", name = "token", value = token)
label(for= "password") New Password:
input(type = "password", name = "password", id = "password", required)
br
label(for= "confirmPassword") Confirm Password:
input(type = "password", name = "confirmPassword", id = "confirmPassword", required)
br
button(type = "submit") Reset Password
