html
head
    title Reset Password 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

body
    h1 Reset Password

    form(id="resetPasswordForm", action = "/reset-password", method = "post")
    input(type = "hidden", name = "token", value = token)
    label(for= "password") New Password:
    input(type = "password", name = "password", id = "password", required)
    br
    label(for= "confirmPassword") Confirm Password:
    input(type = "password", name = "confirmPassword", id = "confirmPassword", required)
    br
    button(type = "submit") Reset Password

    // Other HTML code here

    script.
        $(document).ready(function() {
            $('#resetPasswordForm').submit(function(event) {
                console.log('Form submitted'); // This will print to the console when the form is submitted
                event.preventDefault();
                $.post('/reset-password', {
                    token: $('input[name=token]').val(),
                    password: $('#password').val(),
                }, function(response) {
                    // Handle response from API here
                });
            });
        });